
    <div class="container">
         <div class="row table-header margin5px">
          <h1> Add New Friend</h1>
        </div>
        <div class="row margin5px">
          <a [routerLink]="['/friendlist']" class="btn btn-primary">Back</a>
        </div>
   <div class="row">
   <div class="col-sm-8 offset-sm-2">
      <form  #form="ngForm" (ngSubmit)="addNewFriend(form)">
          <div class="form-group">
            <label for="fname"> Friend Name</label>
            <input  type="text" required ngModel #fname="ngModel" class="form-control" id="fname"   name="fname"  placeholder="friend name">
                <div *ngIf="fname.touched && !fname.valid"  class="alert alert-danger" role="alert">
                  <div >
                     Name is required
                  </div>
                </div>
          </div>
          <div class="form-group">
              <label for="femail"> Friend email</label>
              <input type="text" required pattern="[^@\s]+@[^@\s]+\.[^@\s]+"   ngModel #femail="ngModel" class="form-control" id="femail" name="femail"  placeholder="friend email">
              <div *ngIf="femail.touched && !femail.valid" class="alert alert-danger" role="alert">
                  <div *ngIf="femail.errors.required">
                      Email is required
                     </div>
                     <div *ngIf="femail.errors.pattern">
                      Invalid email
                       </div>
              </div>
            </div>
            <div class="form-group">
                <label for="faddress"> Friend Address</label>
                <input required type="text"  ngModel #faddress="ngModel" class="form-control" id="faddress" name="faddress"  placeholder="friend address">
                <div  *ngIf="faddress.touched && !faddress.valid" class="alert alert-danger" role="alert">
                    <div >
                      Address is required
                    </div>
                  </div>
            </div>
 
          <button type="submit"  [disabled]="!form.valid" class="btn btn-primary">Submit</button>
        </form>
   </div>
   </div>     
