<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Express</title>
    <link href="bootstrap/css/bootstrap.css"  type="text/css" rel="stylesheet">
    <link href="resource/custom.css"  type="text/css" rel="stylesheet">
   
</head>
<body>

     <div class="container">
         <div class="row">
             <div class="col-sm-6 offset-sm-3">
                    <form>
                            <div  id= "decima1-wrap" class="form-group">
                                <label for="my-input">Text</label>
                                <input id="decimal" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label for="my-input">Roman</label>
                                <input  disabled id="roman" class="form-control" type="text">
                            </div>
                            <button  id="convert" type="button">Submit</button>
                        </form>
             </div>
               
         </div>
     </div>
 
    <script src="jquery/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="resource/custom.js"></script>
    
</body>
</html>